{
  "extends": [
    "airbnb-base"
  ],
  "rules":
  {
    "indent": 0,
    "max-len": [
      2, 150
    ],
    "camelcase": [
      0,
      {
        "properties": "never"
      }
    ],
    "no-underscore-dangle": "off",
    "no-unsafe-negation": "off",
    "no-bitwise": "off",
    "space-before-function-paren": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-void": "off",
    "no-param-reassign": [ "error", { "props": true, "ignorePropertyModificationsFor": [
     "tmp",
     "req",
     "dataToValidate",
     "parts",
     "functionalitiesMapEntry",
     "obj",
     "modelObj",
     "ptrToModify",
     "x",
     "sum",
     "json",
     "y",
     "z",
     "dataConnectedobjects",
     "basicData",
     "ptr",
     "ipData",
     "data",
     "b",
     "periodData",
     "a",
     "sequenceData"
    ] }]
  },

  "parserOptions":
  {
    "ecmaVersion": 2017,
    "sourceType": "module",

    "ecmaFeatures":
    {
      "experimentalObjectRestSpread": true
    },

    "parser": "babel-eslint"
  },

  "env":
  {
    "node": true,
    "mocha": true,
    "es6": true
  },

  "plugins": [
    "react"
  ]
}
