**/*.log
**/*.pem
**/*.key
**/*.crt
**/CA
**/*.log.old
BDD/**
esdoc/**
coverage/**
.sonar/**
out/**
**/npm-deb*
node_modules/**
**/*~
compiled/test/**
compiled/src/**
compiled/Log/**
compiled/views/**
sonar*
GeneratedDoc/**
publicFiles/**
periodicExports/**
package-lock.json
./hapi-swagger
./fileReception
fileTransfer/*
packages/**
